<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <cmail-header></cmail-header>
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="mdl-grid">
        <form>

          <cmail-form-group ident="nome" message="Informar um nome é obrigatório!">
            <input required type="text" name="nome" cmailFormField/>
          </cmail-form-group>
          <cmail-form-group ident="username" message="Criar um username é obrigatório!">
            <input required type="text" name="username" cmailFormField/>
          </cmail-form-group>
          <cmail-form-group ident="senha" message="Informar um senha é obrigatório!">
            <input required type="password" name="senha" cmailFormField/>
          </cmail-form-group>
          <cmail-form-group ident="avatar" message="Informar um avatar é obrigatório!">
            <input required type="text" name="avatar"  cmailFormField/>
          </cmail-form-group>

          <div class="mdl-card__actions">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
              Cadastrar
            </button>
          </div>

        </form>
      </div>
    </div>
  </main>
</div>