<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <cmail-header></cmail-header>
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="mdl-grid">
        <form [formGroup]="formCadastro" (ngSubmit)=handleCadastroUsuario()>

          <cmail-form-group [ctrl]="formCadastro" ident="nome" [messages]="{required: 'Informar um nome é obrigatório!', minlength: 'O nome deve conter ao menos 2 caracteres'}" message="Informar um nome é obrigatório!">
            <input formControlName="nome" required type="text" name="nome" cmailFormField/>
            <!-- <span *ngIf="nome.getError('minlength')" class="mdl-textfield__error">O nome deve conter ao menos 2 caracteres</span>     -->
          </cmail-form-group>
          <cmail-form-group [ctrl]="formCadastro" ident="username" message="Criar um username é obrigatório!">
            <input formControlName="username" required type="text" name="username" cmailFormField/>
            <span *ngIf="formCadastro.get('username').getError('minlength')" class="mdl-textfield__error">O nome deve conter ao menos 3 caracteres</span>    
          </cmail-form-group>
          <cmail-form-group [ctrl]="formCadastro" ident="senha" message="Informar um senha é obrigatório!">
            <input formControlName="senha" required type="password" name="senha" cmailFormField/>
          </cmail-form-group>
          <cmail-form-group [ctrl]="formCadastro" ident="telefone" message="Informar um telefone é obrigatório!">      
            <input formControlName="telefone" required type="text" name="telefone" cmailFormField maxlength="10" minlength="8"/>
            <span *ngIf="telefone.errors && !telefone.getError('required')" class="mdl-textfield__error">Número do telefone deve ser formatado 99999-9999</span>    
          </cmail-form-group>
          <cmail-form-group [ctrl]="formCadastro" ident="avatar">
            <input formControlName="avatar" type="text" name="avatar"  cmailFormField/>
          </cmail-form-group>
          <br/>
          <div class="mdl-card__actions">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
              Cadastrar
            </button>
          </div>

        </form>
      </div>
    </div>
  </main>
</div>